:root{
    /* Colours */
    --color-text: #fff;
    --color-primary: #57bcb4;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Fonts */
    --font-roboto: "Roboto";
}